%footer.footer
  %article.wrapper
    %p
      %span © 2014 Disability Income Advocates. Privacy Policy

%section.privacy-section
  %article.wrapper
    %p Disclaimer: THIS IS A PAID ATTORNEY/ADVOCATE ADVERTISEMENT. This website is a group advertisement and a fee is paid for by participating attorneys and advocates. The site is not an attorney referral service or prepaid legal services plan. Disability-Income-Advocates.org is privately owned and is not affiliated with or endorsed by Social Security Administration or any other government agency. The promotion of this website is sponsored exclusively by Social Security Attorneys and Advocacy Groups who provide services to the public for Disability issues. The website does not make any representation to the qualifications, expertise or credentials of participating attorneys/advocates and does not represent that quality is better than services performed by other attorneys/advocates. Any information you submit to this website may not be protected by attorney-client privilege. An automated matching system will match each request with a member attorney/advocate representing the specific geography. A list of participating attorneys will be mailed free of charge to members of the public upon request. Requests should be made to Disability-Income-Advocates.org 201 Miller Avenue, Mill Valley CA 94941.
