= partial "header"

%section.next-step
  %article
    %h1
      Pre-Qualify for Social Security Disability Today!
      %br
      Get your Free, no-obligation evaluation now
    %p All free evaluations are performed by an educational social security disability advocate or attorney.
    .divider
      %span Your privacy comes first
    %img{src: "images/security-logos.png"}

= partial "footer"
