= partial "header"

%section
  %article.wrapper
    %h1
      Do you Pre-Qualify for
      %br
      Social Secruity Disability?

%section.hero
  %article.wrapper
    %ul.inline
      %li
        %h2 You may be eligible for over $2,000 per month
        %dl
          %dt
            %img{src: "images/tick.png"}
          %dd Experienced Benefits Advocates
        %dl
          %dt
            %img{src: "images/tick.png"}
          %dd Completely Confidential &amp; Secure
        %dl
          %dt
            %img{src: "images/tick.png"}
          %dd Free Evaluation Consultation
        %p
          %span Evaluations are performed by a social security advocate or attorney.
      %li
        %dl
          %dt
            %img.woman{src: "images/woman.png"}
          %dd
            %img.arrow{src: "images/arrow.png"}

%section.form-section
  %article.wrapper
    %ul.inline
      %li.first
        %h3 Get Benefits for Your Disabilities
        %p The Social Security and Supplemental Security Income disability programs are the largest of several Federal programs that provide assistance to people with disabilities.
        %h3 Supplemental Income
        %p Pays benefits based on financial need. It is designed to help aged, blind, and disabled people, who have little or no income; and provide you cash to meet basic needs for food, clothing, and shelter.
        %h3 Disability Insurance
        %p Pays benefits to you and certain members of your family if you are "insured," meaning that you worked long enough and paid Social Security taxes.
      %li
        %form
          %h3 Free Disability Evaluation
          %h4 See if You Pre-Qualify in Seconds
          %input{type: "text", placeholder: "First Name"}
          %input{type: "text", placeholder: "Last Name"}
          %input{type: "email", placeholder: "Email"}
          %input{type: "text", placeholder: "Phone Number"}
          %input{type: "text", placeholder: "Birth Date (mm/dd/yyyy)"}
          %input.submit-btn{type: "submit", value: "Do I Qualify?"}
          %p Accurate Information is required for a free evaluation. We respect your privacy and will not sell your information to third parties.
    .divider
      %span Your privacy comes first
    %img{src: "images/security-logos.png"}

= partial "footer"
