= partial "header"

%section.privacy
  %article.wrapper
    %h1 CONGRATULATIONS!
    %h2 A Social Security Disability attorney or advocate will be in contact shortly.
    .divider
      %span Your Privacy comes first
    %img{src: "images/security-logos.png"}
    .divider
      %span Non-Qualifying Conditions
= partial "footer"
