= partial "header"

%section.thanks-page
  %article.wrapper
    %h1 CONGRATULATIONS!
    %h2 Based on your information so far you may qualify!
    %h3
      A Social Security Disability attorney or
      %br
      advocate will be in contact shortly.
    .divider
      %span Your Privacy comes first
    %img{src: "images/security-logos.png"}
    .divider
      %span Non-Qualifying Conditions
    .bottom-section
      %p
        %strong NON-QUALIFYING CONDITIONS:
        If you meet any of the following conditions you will not meet pre-qualification at this time. For more information about Social Security Disability benefits contact the Social Security Administration www.ssa.gov.
      %p 1) Under age 30 or over age 65. 2) Not currently being treated by a doctor. 3) Already receiving social security benefits. 3) You already have an Social Security Disabilities attorney or advocate.

= partial "footer"
